ul.authorship {
    margin:0;
    padding:0;
    list-style-type: none;
    display:inline;
}

ul.authorship li {
    display: inline;
}

ul.authorship li:before {
    content: " and ";
}

ul.authorship li:first-child:before {
    content: none;
}